@model List<PruebaCrud.Services.DTOs.EmployeeDto>
@using PruebaCrud.Services.DTOs;

@{
    ViewData["Title"] = "Employees";
}



<div class="container">
    <div id="addModalContainer"></div>
    <div class="row">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="display-3 float-start">Employees</h1>
            <button class="btn btn-lg btn-success float-end" onclick="AddEmployeeModal()">Add Employee</button>
        </div>
        <hr class="my-3" />
    </div>

    <br />

    <div />

    <table class="table table-bordered" id="EmployeeTable">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Employee Type</th>
                <th scope="col" class="text-center">Telephone</th>
                <th scope="col" class="text-center">Employment Date</th>
                <th scope="col" class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employeeDto in Model)
            {
                <tr>
                    <td>@employeeDto.Name</td>
                    <td class="text-center">@employeeDto.EmployeeType.EmployeeRole</td>
                    <td>@employeeDto.Telephone</td>
                    <td>@employeeDto.EmploymentDate.ToString("MM/dd/yyyy")</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-info editBtn" onclick="EditEmployee(@employeeDto.EmployeeID)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="editModalContainer"></div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function AddEmployeeModal() {
            $.get('/Employee/AddEmployee', function (data) {
                $('#addModalContainer').html(data);
                $('#addModal').modal('show');
            });
        }

        function EditEmployee($id) {
            $.ajax({
                url: "/Employee/GetEmployee?id=" + $id,
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        $("#editModalContainer").load("/Employee/EditEmployee", function () {
                            $("#inputFullName").val(data.name);
                            $("#inputTelephone").val(data.telephone);
                            $("#inputEmployeeType").val(data.employeeTypeID);
                            var employmentDate = new Date(data.employmentDate);
                            var date = employmentDate.toISOString().split("T")[0];
                            $("#inputEmployementDate").val(date);

                            $("#hiddenEmployeeId").val(parseInt($id));

                            $("#EditModal").modal("show");
                        });
                    }
                }
            });
        }

        function Save() {

            var employmentDate = new Date($("#inputEmployementDate").val());
            var date = employmentDate.toISOString().split("T")[0];

            var dataToSave = {
                EmployDto: {
                    EmployeeID: parseInt($("#hiddenEmployeeId").val()),
                    Name: $("#inputFullName").val(),
                    Telephone: $("#inputTelephone").val(),
                    EmployeeTypeID: parseInt($("#inputEmployeeType").val()),
                    EmploymentDate: date
                }
            };

            $.ajax({
                url: "@Url.Action("UpdateEmployee", "Employee")",
                type: "POST",
                data: JSON.stringify(dataToSave),
                dataType: "json",
                contentType: "application/json",
                Accept: "application/json",
                success: function (data) {

                    if (data.result) {
                        $("#EmployeeTable").ajax.reload();
                        $("#EditModal").modal("hide");
                    }
                }
            });
        }
    </script>
}