@model List<PruebaCrud.Services.DTOs.EmployeeDto>
@using PruebaCrud.Services.DTOs;

@{
    ViewData["Title"] = "Employees";
}



<div class="container">
	<h1 class="display-3">Employees</h1><hr class="my-3"/>

	<div id="addModalContainer"></div>
    <div class="row">
        <div class="d-flex justify-content-end">
			<button class="btn btn-success" onclick="AddEmployeeModal()">Add Employee</button>
		</div>
    </div>

	<br/>

 <div/>

		<table class="table table-bordered">
			<thead class="table-dark">
				<tr>
                <th scope="col" class="text-center">Employee ID</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Employee Type</th>
                <th scope="col" class="text-center">Telephone</th>
                <th scope="col" class="text-center">Employment Date</th>
                <th scope="col" class="text-center">Options</th>
				</tr>
			</thead>
			<tbody>
				@foreach(EmployeeDto employeeDto in Model)
			{
				<tr>
					<td class="text-center">@employeeDto.EmployeeID</td>
					<td>@employeeDto.Name</td>
                    <td class ="text-center">@employeeDto.EmployeeTypeID</td>
					<td>@employeeDto.Telephone</td>
					<td>@employeeDto.EmploymentDate</td>
					<td class="text-center">
						@*Html.ActionLink("Edit", "Index", "EditEmployee",  new{id = employeeDto.EmployeeID}, new{ @class="btn btn-info"})*@
						<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="@("#EditEmployee-" + employeeDto.EmployeeID)" data-bs-url="@Url.Action($"EditEmployee/{employeeDto.EmployeeID}")">Edit</button>
						@await Html.PartialAsync("_EditEmployee",employeeDto)
					</td>
				</tr>
			}
		</tbody>
		</table>
	@**@
	
	
</div>

@section Scripts {
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script>
		function AddEmployeeModal() {
			$.get('/Employee/AddEmployee', function (data) {
				$('#addModalContainer').html(data);
				$('#addModal').modal('show');
			});
		}
	</script>
}