@model IList<PruebaCrud.Services.DTOs.EmployeeDto>
@using PruebaCrud.Services.DTOs;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
	<h1 class="display-3">Employees</h1><hr class="my-4"/>
		<table class="table table-bordered">
			<thead class="table-dark">
				<tr>
				<th scope="col">Employee ID</th>
				<th scope="col">Name</th>
				<th scope="col">Employee Type</th>
				<th scope="col">Telephone</th>
				<th scope="col">Employment Date</th>
				</tr>
			</thead>
			<tbody>
				@foreach(EmployeeDto employeeDto in Model)
			{
				<tr>
					<td>@employeeDto.EmployeeID</td>
					<td>@employeeDto.Name</td>
					<td>@employeeDto.EmployeeTypeID</td>
					<td>@employeeDto.Telephone</td>
					<td>@employeeDto.EmploymentDate</td>
				</tr>
			}
		</tbody>
		</table>
</div>
